html {
    font-size: 16px;
    background-image:url(../../img/wave.jpg);
    background-repeat:repeat;
    font-family: "Comic Sans MS", MarkerFelt-Thin, sans-serif; 
    margin: 0;
    padding: 0;
}
﻿body {
    margin: 0;
    padding: 0;
}
#outer-wrapper {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}
header img {
    margin: 0 auto;
    width: 100%;
}
#dark-bg {
    position:absolute;
    left: 0;
    top: 0;
    height: 680px;
    width: 1024px;
    background-color: black;
    display: none;
}
#content {
    position: relative;
}
#intro {
    width: 1024px;
    height: 680px;
    text-align: center;
    background-color: white;
}
#skip {
    position: absolute;
    top: 540px;
    left: 880px;
    height: 80px;
}
#pointer {
    position: absolute;
    display:none;
    top: 500px;
    left: 512px;
}
#hotspots-menu {
    width: 1024px;
    height: 680px;
    background-color: white;
    text-align: center;
    display:none;
}


#choose {
    margin: 0;
    padding-top:80px;
    padding-bottom: 60px;
    font-size: 50px;
    color: purple;
}

#background {
    margin-top: 0px;
    width:1024px;
    height: 100%;
    display: none;
}

#hotspots-layout {
    width: 1024px;
    height: 680px;
    text-align: center;
    position: relative;
}
.objects {
    position: absolute;
    height: 150px;
    width: 150px;
}
.objects img {
    height: 100%;
}
.objGlow {
    display: none;
}

#container {
    top: 60px;
    left:0;
    width:1024px;
    height: 680px;
    position: absolute;
    z-index: 999;
    display:none;
}

.loading {
    background-image: url('../../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 5%; 
}

#back, #refresh {
    position: absolute;
    top: 5px;
    height: 50px;
    width: auto;
    z-index: 99;

}
#back {
    left: 5px;
}
#refresh {
    left: 960px;
}

#back:hover, #refresh:hover, #skip:hover {
    -webkit-filter: drop-shadow(10px 10px 9px rgba(255,255,5,1));
    filter: url(shadow.svg#drop-shadow);
    /* for IE 8 & 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    /* For IE 5.5 - 7 */
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    cursor: pointer;
}
#back:active, #refresh:active {
    cursor: pointer;
}
.nav:hover {
    box-shadow: 10px 10px 9px rgba(255,255,5,1);
    /*
    -webkit-filter: drop-shadow(10px 10px 9px rgba(255,255,5,1));
    filter: url(shadow.svg#drop-shadow);
    /* for IE 8 & 9 */
    /*
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    /* For IE 5.5 - 7 */

    /*
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')"; 
    */
    cursor: pointer;
}
.nav:active {
    cursor: pointer;
}

