
#theme-menu, #custom-menu {
    width: 1024px;
    height: 680px;
    background-color: white;
    text-align: center;
}
#custom-menu {
    display: none;
}

#theme-menu img {
    width: 180px;
    height: auto;
    margin: 33px 60px 0 40px ;
}
#image-div {
    position: absolute;
    top: 50px;
    left: 110px;
}
#image-div img {
    min-width: 804px;
    max-width: 804px;
    min-height: 560px;
    max-height: 560px;
    display: none;
}

#container {
    width: 804px;
    height: 560px;
    position: absolute;
    top: 60px;
    left: 110px;
    display: none;
}

.custom-item  {
    width: 150px;
    height: 104px;
    border: 1px solid grey;
    text-align: center;
    display: inline-block;
    margin: 40px 40px 0 40px;
    background-image: url('../img/flickr.gif');
}
.custom-item span {
    display: inline-block;
    font-size: 22px;
    margin-top: 20px;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}

.customImage {
    display: none;
}



.photosets {
    float:right;
    clear:both;
}
.photosets a {
    width: 100px;
}
#themes a {
    padding: 10px;
    min-width: 40px;
    font-size: 1.2em;
}
#themes a:hover {
    background-color: #FF9999;
}
.selected {
    background-color: #FF6699;
}



#col1, #col2 {
    width: 110px;
    height: 560px;
    margin-top: 40px;
}
#col1 {
    float: left;
}
#col2 {
    float: right;
}

#col1 img, #col2 img {
    width: 90px;
    margin-left: 10px;
}

.image_bg {
    /* -- CSS3 - add a drop shadow -- */
    -webkit-box-shadow: 0 0 15px 5px #fff;
    -moz-box-shadow: 0 0 15px 5px #fff;
    box-shadow: 0 0 15px 5px #fff;
}
.image_bg {
    margin-top: 3em;
    width: 804px;
    height:560px;
    float:left;
}

.sprite:hover, #col1 img:hover, #col2 img:hover {
    -webkit-filter: drop-shadow(10px 10px 9px rgba(255,255,5,1));
    filter: url(shadow.svg#drop-shadow);
    /* for IE 8 & 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    /* For IE 5.5 - 7 */
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    cursor: pointer;
}
.sprite:active {
    opacity: 0.7;
    cursor: pointer;
}

.sprite {
    margin-left: auto;
    margin-right: auto;
}

.customThumb {
    margin-top: 20px;
}

#showTextMsg {
    position: absolute;
    display: none;
    color: red;
    left: 120px;
}




