
#content {
    position: relative;
}
#jigsaw-menu {
    width: 1024px;
    height: 680px;
    background-color: white;
    text-align: center;
}
#jigsaw-menu img {
    width: 250px;
    margin: 0px 35px 10px 35px;
}
#jigsaw-menu p {
    margin:0;
    font-family: "Comic Sans MS", MarkerFelt-Thin, sans-serif;
    font-size: 50px;
}
#puzzle {
    padding-top: 30px;
    padding-bottom: 10px;
    color:blue;
    font-weight: 400;
}


#container {
    border:solid 1px #ccc;
    margin-top: 0px;
    width:1024px;
    height: 680px;
    background-color: white;
    display:none;
}


#background {
    position:absolute;
    opacity: 0.7;
    display:none;
}
